html{
    height: 100%;
}



body {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ8Kb0HIaw2-DzVIsN6f-Ixp4PWIi0Jh9I63Q&s);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}
.container {
    display:inline-block;
    width: 1200px;
        text-align: center;
        background-color: #ffffff6e;
        
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    }
button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
            top: -200px;
}
    
header {
    padding-top:30px;
    padding-top: 30px;
    text-align: center;
}

nav {
    background-color: rgba(255, 89, 230, 0.648);
    text-align: center;
    padding-top: 14px;
    padding-bottom: 14px;
}

main {
    background-color: rgb(113, 158, 227);
    height: 400px;
    text-align: center;
    padding-top: 80px;
   
}

footer {
    background-color: rgba(230, 230, 250, 0.712);
    padding-top: 14px;
    padding-bottom: 14px;
}


h1 {
    font-size: 20x;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    padding-right: 800px;
}
p {
    font-size: 18px;
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}
a {
    
    color: rgb(236, 213, 255);
    font-family: Arial, Helvetica, sans-serif;
}

nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}

footer p {
    font-size: 10px;
    text-align: center;
    color: rgb(238, 74, 253);
}

    
.box {
display:block;
  width:33%;
  float:left;
  background:#000;
  color:#fff;
 
  text-align:center; 
   position: relative;
    width: 100px;
    height: 100px;
    background-color: #d93bcc;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
#randomWord {
    font-size: 24px;
    margin-top: 20px;
    color: #333;
}

 .boxgroups {
        padding-left: 700px;
        position: relative;
            top: -550px;
    }

    input[type="checkbox"] {
        width: 20px;
        height: 20px;
        margin-right: 10px;
        margin-top: 70px;
        
    
    }
    
    label {
        font-size: 18px;
        position: relative;
            top: -300px;
            padding-right: 30px;
    }

    .submit {
       padding-bottom: 100px;
    }